.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  transition: all 450ms ease-in;
}

.nav-bg {
  background-color: #111111;
  z-index: 999;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.logo {
  width: 100px;
  max-height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.login-btn {
  background-color: #e50914;
  color: #ffffff;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.welcome-txt {
  color: #e87c03;
}
